{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Inquiry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="gender">What's your gender?</label>
    <select name="gender" required>
        <option value="1">Male</option>
        <option value="2">Female</option>
    </select>
    
    <label for="education">What's your highest level of education?</label>
    <select name="education" required>
        <option value="1">Not graduate High School</option>
        <option value="2">Graduateed High School</option>
        <option value="3">Attended college or technical school</option>
        <option value="4">Graduated from college or technical school</option>
        <option value="1">Refused to answer</option>
    </select>
    
    <label for="diet">How often do you eat vegetables and fruits?</label>
    <select name="diet" required>
        <option value="1">Every week</option>
        <option value="2">More than a week or never</option>
    </select>
    
    <label for="exercise">How often do you exercise?</label>
    <select name="exercise" required>
        <option value="1">Every week</option>
        <option value="2">Every month</option>
        <option value="3">Never</option>
    </select>
    
    <label for="income">What's your annual household income?</label>
    <select name="income" required>
        <option value="1">Less than $50,000</option>
        <option value="2">$50,000 - $75,000</option>
        <option value="3">Greater than $75,000</option>
        <option value="1">Unknown</option>
    </select>
    
    <label for="marriage">What's your marital status?</label>
    <select name="marriage" required>
        <option value="1">Married</option>
        <option value="0">Other</option>
    </select>
    
    <label for="build">How is your body build?</label>
    <select name="build" required>
        <option value="1">Underweight</option>
        <option value="2">Normal weight</option>
        <option value="3">Overweight</option>
        <option value="4">Obese</option>
    </select>
    
    <label for="smoke">Are you a smoker?</label>
    <select name="smoke" required>
        <option value="1">Everyday smoker</option>
        <option value="2">Someday smoker</option>
        <option value="3">Former smoker</option>
        <option value="4">Never smoke</option>
        <option value="3">Unknown</option>
    </select>
    
    <label for="alcohol">Are you having more than 14 (adult men)/7 (adult women) drinks per week?</label>
    <select name="alcohol" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
        <option value="0">Not sure</option>
    </select>
    
    <label for="blopre">Have you been told by a doctor, nurse, or other health professional that your blood pressure was high?</label>
    <select name="blopre" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
        <option value="0">Not sure</option>
    </select>
    
    <label for="chol">Have you been told by a doctor, nurse, or other health professional that your cholesterol was high?</label>
    <select name="chol" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
    </select>
    <input type="submit" value="Calculate">
  </form>
{% endblock %}